.pikachuImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.notFoundText {
    color: gray;
    font-size: 5em;
    font-weight: bold;
}