.nidoran-table {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nidoran-cell {
    position: relative;
    width: 50%;
    margin: auto;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.nidoran-cell:hover {
    -webkit-filter: none;
    filter: none;
}

.nidoran-image {
    position: relative;
    margin: auto;
    width: 100%;
}
