.pokeTable {
    background: whitesmoke;
    margin: auto;
    width: 50%;
    padding: 1  0px;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 100px;
}

.pokeName {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding-top: 30px;
}

.pokeNumber {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.pokeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.pokeBiology {
    text-align: justify;
    padding: 30px;
}